  $jungle-teal: #6b9080ff;
  $muted-teal: #a4c3b2ff;
  $frozen-water: #cce3deff;
  $azure-mist: #eaf4f4ff;
  $mint-cream: #f6fff8ff;


  .home-container {
      background: #A4C3B2FF;
      background: linear-gradient(182deg, rgba(164, 195, 178, 1) 0%, rgba(246, 255, 248, 1) 100%);
      height: 100%;
      width: 100%;
      overflow: auto;
  }